<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
  <h2>Adding new product</h2>
  <div>
    <form action="/products/save" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="price">Price:</label>
      <input type="text" id="price" name="price"><br><br>
      <label for="description">Description:</label>
      <input type="text" id="description" name="description"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>