<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Add new user:</h2>
  <form action="/action_page.php">
    <label for="fname">Name:</label><br>
    <input type="text" id="fname" name="name" value="John"><br>
    <label for="fname">Email:</label><br>
    <input type="text" id="fname" name="email" value="toan@gmail.com"><br>
    <label for="lname">Age:</label><br>
    <input type="text" id="lname" name="age" value="22"><br><br>
    <label for="lname">Phone:</label><br>
    <input type="text" id="lname" name="phone" value="Doe"><br><br>
    <input type="submit" value="Submit">
  </form> 
</body>
</html>